# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
.vscode

.gradle/
.settings/
.classpath
.project
build/
bin/
src/generated/**

/immudb/**
!immudb/start.sh
!immudb/stop.sh
!immudb/clean.sh

**/.DS_Store

roots/

*.iml
*.ipr
*.iws
